.counter{
    background:#07182e;
    padding:90px 8%;
}

.counter-heading{
    text-align:center;
    margin-bottom:60px;
}

.counter-heading p{
    color:#D4AF37;
    font-weight:600;
    letter-spacing:3px;
    margin-bottom:10px;
}

.counter-heading h2{
    color:#fff;
    font-size:46px;
    font-family:Georgia, serif;
}

.counter-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:30px;
}

.counter-card{
    background:rgba(255,255,255,.08);
    border:1px solid rgba(212,175,55,.3);
    border-radius:18px;
    padding:40px 20px;
    text-align:center;
    transition:.35s;
}

.counter-card:hover{
    transform:translateY(-8px);
    background:#D4AF37;
}

.counter-card h3{
    font-size:48px;
    color:#D4AF37;
    margin-bottom:12px;
    transition:.3s;
}

.counter-card:hover h3{
    color:#07182e;
}

.counter-card p{
    color:#fff;
    font-size:18px;
    transition:.3s;
}

.counter-card:hover p{
    color:#07182e;
}

@media(max-width:992px){

.counter-container{
    grid-template-columns:repeat(2,1fr);
}

}

@media(max-width:768px){

.counter-container{
    grid-template-columns:1fr;
}

.counter-heading h2{
    font-size:34px;
}

.counter-card h3{
    font-size:40px;
}

}