.page-banner{
    background:#07182e;
    color:#fff;
    text-align:center;
    padding:120px 20px 80px;
}

.page-banner h1{
    font-size:52px;
    color:#D4AF37;
    margin-bottom:15px;
}

.page-banner p{
    font-size:18px;
    color:#ddd;
}